<button [routerLink]="['/edit-product']" class="btn btn-success">
  Add
</button>
<div class="form-group mt-3">
  <input
    type="text"
    #SearchInput
    id="SearchInput"
    placeholder="Search"
    class="form-control"
  />
</div>
<ng-template #loading>Loading...</ng-template>
<table class="table table-striped" *ngIf="products; else loading">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>
        {{ product.id }}
      </td>
      <td>{{ product.name }}</td>
      <td>{{ product.price | number }}</td>
      <td>
        <a [routerLink]="['/edit-product', product.id]" class="btn btn-link"
          >Edit</a
        >
        <a
          href="javascript:void(0)"
          (click)="onRemoveBtnClicked(product.id)"
          class="btn btn-link"
          >Remove</a
        >
      </td>
    </tr>
  </tbody>
</table>
