<ng-template #loading>Loading ...</ng-template>
<form *ngIf="!isLoading; else loading" [formGroup]="productForm">
  <input type="hidden" name="id" id="id" formControlName="id" />
  <input
    type="hidden"
    name="createdOn"
    id="createdOn"
    formControlName="createdOn"
  />
  <input
    type="hidden"
    name="modifiedOn"
    id="modifiedOn"
    formControlName="modifiedOn"
  />
  <div class="form-group">
    <label for="name">Name</label>
    <input
      id="name"
      type="text"
      name="name"
      formControlName="name"
      class="form-control"
    />
    <div class="text-danger ml-3" *ngIf="name.invalid && name.errors.required">
      The name field is required!
    </div>
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <input
      id="price"
      type="number"
      name="price"
      formControlName="price"
      class="form-control"
    />
    <div
      class="text-danger ml-3"
      *ngIf="price.invalid && price.errors.required"
    >
      The price field is required!
    </div>
    <div
      class="text-danger ml-3"
      *ngIf="price.invalid && price.errors.invalidPrice"
    >
      The price must be greater than zero!
    </div>
  </div>
  <button
    class="btn btn-primary"
    (click)="onSaveBtnClicked()"
    [disabled]="!productForm.valid"
  >
    Save
  </button>
  <button class="btn btn-secondary ml-1" [routerLink]="['/products']">
    Cancel
  </button>
</form>
